.header {
}

.branding {
}

.background {
}

.section {
  margin: 0 120px;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
  z-index: 1;
}

.row::after {
  content: '';
  clear: both;
  display: table;
  z-index: 1;
}
