

.return{
    background-color: red;
    border-color: red;
    border-radius: 20%;
    margin-top: 0.3%;
    margin-right: 97%;
}

.return:hover{
    background-color: red;
    border-color: red;
}

.table{
    width: 80%;
    margin: 0% 10%;
}

.delete{
    background-color: red;
    border-color: red;
}

.caseImg{
    width: 70%;
    height: 70%;
    overflow: hidden;
    object-fit: cover;
}

.caseInfo{
    float: right;
    width: 30%;
    height: 30%;
}

.caseDesc{
    text-align: center;
    width: 80%;
    margin-top: 2%;
    margin-left: 12%;
}
