.background {
  align-items: center;
  background-color: black;
  display: relative;
  z-index: -3;
  overflow: hidden;
}

.leaveBtn {
  background-color: red;
  border-color: red;
  border-radius: 20%;
  margin: 1%;
}

.leaveBtn:hover {
  background-color: red;
  border-color: red;
}

.message {
  position: fixed;
  bottom: 3%;
  margin: 0 30%;
  background-color: rgba(198, 212, 251, 1);
  height: 8%;
  width: 40%;
  border-radius: 15%;
}

.emote {
  margin-top: 4%;
  margin-left: 3%;
  float: left;
}

.textBox {
  width: 80%;
  margin-left: 3%;
  margin-top: 3.5%;
  float: left;
}

textarea::placeholder {
  text-align: center;
}

.sendBtn {
  float: left;
  margin: 3.25% 2%;
  background-color: #4caf50;
  border-radius: 20%;
}

.sendBtn:hover {
  background-color: #4caf50;
}

.sendBtn:focus {
  background-color: #4caf50;
}

.navi {
  width: 80%;
  height: 60%;
  margin: 10%;
  overflow-y: auto;
}

.naviBox {
  position: fixed;
  background-color: rgba(198, 212, 251, 1);
  width: 20%;
  height: 20%;
  text-align: left;
  bottom: 3%;
  margin-left: 2%;
  border-radius: 5%;
  float: left;
}

.vid {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: black;
  color: black;
  margin: auto;
  background-size: cover;
  background-position: center;
  text-align: center;
  z-index: -2;
}

.yourVid {
  position: fixed;
  width: 20%;
  height: 20%;
  background-color: grey;
  margin-left: 79%;
  top: 2.5%;
}

.dpadBox {
  overflow: hidden;
  position: fixed;
  bottom: 5%;
  right: 5%;
}

.upKey {
  position: relative;
  display: flex;
  margin-left: 5em;
  margin-top: 5em;
}

.downKey {
  position: relative;
  display: flex;
  margin-left: 5em;
}

.leftkey {
  position: relative;
  display: inline-flex;
  float: left;
}

.rightKey {
  position: relative;
  display: inline-flex;
  float: right;
}

.arrowButton {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4.5px;
}

@media screen and (max-width: 1927px) {
  .message {
    position: fixed;
    bottom: 3%;
    margin: 0 35%;
    background-color: rgba(198, 212, 251, 1);
    height: 11%;
    width: 30%;
    border-radius: 15%;
  }

  .emote {
    margin-top: 4%;
    margin-left: 3%;
    float: left;
  }

  .textBox {
    width: 80%;
    margin-left: 5%;
    margin-top: 3.5%;
    float: left;
  }

  textarea::placeholder {
    text-align: center;
  }

  .sendBtn {
    margin: 3.25% 45%;
    background-color: #4caf50;
    border-radius: 20%;
  }

  .sendBtn:hover {
    background-color: #4caf50;
  }

  .sendBtn:focus {
    background-color: #4caf50;
  }

  .navi {
    width: 80%;
    height: 62%;
    margin: 10%;
    overflow-y: auto;
  }

  .naviBox {
    position: fixed;
    background-color: rgba(198, 212, 251, 1);
    width: 20%;
    height: 20%;
    text-align: center;
    bottom: 3%;
    margin-left: 2%;
    border-radius: 5%;
  }
}

@media screen and (max-width: 1680px) {
  .navi {
    width: 80%;
    height: 67%;
    margin: 10%;
    overflow-y: auto;
  }

  .naviBox {
    position: fixed;
    background-color: rgba(198, 212, 251, 1);
    width: 20%;
    height: 20%;
    text-align: center;
    bottom: 3%;
    margin-left: 2%;
    border-radius: 5%;
  }
}

@media screen and (max-width: 1490px) {
  .message {
    position: fixed;
    bottom: 3%;
    margin: 0 35%;
    background-color: rgba(198, 212, 251, 1);
    height: 11%;
    width: 30%;
    border-radius: 15%;
  }

  .emote {
    margin-top: 6%;
    margin-left: 3%;
    float: left;
  }

  .textBox {
    width: 80%;
    margin-left: 5%;
    margin-top: 5%;
    float: left;
  }

  textarea::placeholder {
    text-align: center;
  }

  .sendBtn {
    margin: 3.25% 45%;
    background-color: #4caf50;
    border-radius: 20%;
  }

  .sendBtn:hover {
    background-color: #4caf50;
  }

  .sendBtn:focus {
    background-color: #4caf50;
  }

  .navi {
    width: 80%;
    height: 70%;
    margin: 10%;
    overflow-y: auto;
  }

  .naviBox {
    position: fixed;
    background-color: rgba(198, 212, 251, 1);
    width: 20%;
    height: 20%;
    text-align: center;
    bottom: 3%;
    margin-left: 2%;
    border-radius: 5%;
  }
}

@media screen and (max-width: 1290px) {
  .navi {
    width: 80%;
    height: 75%;
    margin: 10%;
    overflow-y: auto;
  }

  .naviBox {
    position: fixed;
    background-color: rgba(198, 212, 251, 1);
    width: 20%;
    height: 20%;
    text-align: center;
    bottom: 3%;
    margin-left: 2%;
    border-radius: 5%;
  }
}

@media screen and (max-width: 1200px) {
  .message {
    position: fixed;
    bottom: 3%;
    margin: 0 35%;
    background-color: rgba(198, 212, 251, 1);
    height: 11%;
    width: 30%;
    border-radius: 15%;
  }

  .emote {
    margin-top: 7%;
    margin-left: 3%;
    float: left;
  }

  .textBox {
    width: 80%;
    margin-left: 5%;
    margin-top: 6%;
    float: left;
  }

  textarea::placeholder {
    text-align: center;
  }

  .sendBtn {
    margin: 3.25% 40%;
    background-color: #4caf50;
    border-radius: 20%;
  }

  .sendBtn:hover {
    background-color: #4caf50;
  }

  .sendBtn:focus {
    background-color: #4caf50;
  }
}

@media screen and (max-width: 1080px) {
  .message {
    position: fixed;
    bottom: 3%;
    margin: 0 35%;
    background-color: rgba(198, 212, 251, 1);
    height: 11%;
    width: 30%;
    border-radius: 15%;
  }

  .emote {
    margin-top: 8%;
    margin-left: 3%;
    float: left;
  }

  .textBox {
    width: 80%;
    margin-left: 5%;
    margin-top: 7%;
    float: left;
  }

  textarea::placeholder {
    text-align: center;
  }

  .sendBtn {
    margin: 3.25% 40%;
    background-color: #4caf50;
    border-radius: 20%;
  }

  .sendBtn:hover {
    background-color: #4caf50;
  }

  .sendBtn:focus {
    background-color: #4caf50;
  }
}

@media screen and (max-width: 1060px) {
  .navi {
    width: 80%;
    height: 79%;
    margin: 10%;
    overflow-y: auto;
  }

  .naviBox {
    position: fixed;
    background-color: rgba(198, 212, 251, 1);
    width: 20%;
    height: 20%;
    text-align: center;
    bottom: 3%;
    margin-left: 2%;
    border-radius: 5%;
  }
}

@media screen and (max-width: 1000px) {
  .message {
    position: fixed;
    bottom: 3%;
    margin: 0 35%;
    background-color: rgba(198, 212, 251, 1);
    height: 11%;
    width: 30%;
    border-radius: 15%;
  }

  .emote {
    margin-top: 9%;
    margin-left: 3%;
    float: left;
  }

  .textBox {
    width: 80%;
    margin-left: 5%;
    margin-top: 8%;
    float: left;
  }

  textarea::placeholder {
    text-align: center;
  }

  .sendBtn {
    margin: 3.25% 40%;
    background-color: #4caf50;
    border-radius: 20%;
  }

  .sendBtn:hover {
    background-color: #4caf50;
  }

  .sendBtn:focus {
    background-color: #4caf50;
  }
}

@media screen and (max-width: 800px) {
  .message {
    position: fixed;
    bottom: 3%;
    margin: 0 35%;
    background-color: rgba(198, 212, 251, 1);
    height: 11%;
    width: 30%;
    border-radius: 15%;
  }

  .emote {
    margin-top: 11%;
    margin-left: 3%;
    float: left;
  }

  .textBox {
    width: 80%;
    margin-left: 5%;
    margin-top: 10%;
    float: left;
  }

  textarea::placeholder {
    text-align: center;
  }

  .sendBtn {
    margin: 3.25% 37%;
    background-color: #4caf50;
    border-radius: 20%;
  }

  .sendBtn:hover {
    background-color: #4caf50;
  }

  .sendBtn:focus {
    background-color: #4caf50;
  }

  .navi {
    width: 80%;
    height: 84%;
    margin: 10%;
    overflow-y: auto;
  }

  .naviBox {
    position: fixed;
    background-color: rgba(198, 212, 251, 1);
    width: 20%;
    height: 20%;
    text-align: center;
    bottom: 3%;
    margin-left: 2%;
    border-radius: 5%;
  }
}

@media screen and (max-width: 680px) {
  .message {
    position: fixed;
    bottom: 3%;
    margin: 0 35%;
    background-color: rgba(198, 212, 251, 1);
    height: 11%;
    width: 30%;
    border-radius: 15%;
  }

  .emote {
    margin-top: 15%;
    margin-left: 3%;
    float: left;
  }

  .textBox {
    width: 80%;
    margin-left: 5%;
    margin-top: 13%;
    float: left;
  }

  textarea::placeholder {
    text-align: center;
  }

  .sendBtn {
    margin: 3.25% 35%;
    background-color: #4caf50;
    border-radius: 20%;
  }

  .sendBtn:hover {
    background-color: #4caf50;
  }

  .sendBtn:focus {
    background-color: #4caf50;
  }
}

@media screen and (max-width: 600px) {
  .navi {
    width: 80%;
    height: 88%;
    margin: 10%;
    overflow-y: auto;
  }

  .naviBox {
    position: fixed;
    background-color: rgba(198, 212, 251, 1);
    width: 20%;
    height: 20%;
    text-align: center;
    bottom: 3%;
    margin-left: 2%;
    border-radius: 5%;
  }
}

@media screen and (max-height: 756px) {
  .message {
    position: fixed;
    bottom: 3%;
    margin: 0 35%;
    background-color: rgba(198, 212, 251, 1);
    height: 13%;
    width: 30%;
    border-radius: 15%;
  }

  .emote {
    margin-top: 4%;
    margin-left: 3%;
    float: left;
  }

  .textBox {
    width: 80%;
    margin-left: 5%;
    margin-top: 3%;
    float: left;
  }

  textarea::placeholder {
    text-align: center;
  }

  .sendBtn {
    margin: 2% 44%;
    background-color: #4caf50;
    border-radius: 20%;
  }

  .sendBtn:hover {
    background-color: #4caf50;
  }

  .sendBtn:focus {
    background-color: #4caf50;
  }
}

.set.setbg {
  background: #222;
}
.set.setbg2 {
  background: #5f9837;
}

.linearSlider {
  position: fixed;
  bottom: 12%;
  margin-left: 67%;
  width: 20%;
}

.angularSlider {
  position: fixed;
  bottom: 5%;
  margin-left: 67%;
  width: 20%;
}
