.message{
    position: fixed;
    width: 40%;
    height: 7.5%;
    margin: 0 30%;
    background-color: rgba(198,212,251,1);
    border-radius: 15%;
}

.emote{
    margin: 3.5% 2%;
    float: left;
}

.textBox{
    width: 80%;
    float: left;
    margin: 3% 1%;
}

TextArea::placeholder{
    text-align: center;
}

.sendBtn{
    background-color: #4CAF50;
    border-radius: 15%;
    float: right;
    margin: 3% 2%;
}

.sendBtn:hover{
    background-color: #4CAF50;
}

.leaveBtn{
    position: fixed;
    width: 10%;
    height: 10%;
    left: 3%;
    bottom: 5%;
    background-color: red;
    border-color: red;
    border-radius: 30%;
}

.robotFunc{
    text-align: center;
}

.navi{
    position: fixed;
    width: 15%;
    height: 15%;
    margin: 2.5%;
    overflow-y: auto;
}

.naviBox{
    position: absolute;
    width: 20%;
    height: 23.5%;
    left: 2.5%;
    top: 11.5%;
    border-radius: 5%;
    background-color: rgba(198,212,251,1);
}

.vidBox{
    position: fixed;
    right: 1.5%;
    top: 11.5%;
    width: 22vw;
    height: 30vh;
    background-color: rgba(198,212,251,1);
    border-radius: 5%;
}

.vid{
    width: 50vw;
    height: 50vh;
    background-color: black;
    margin: 2.5% auto;
}

.yourVid{
    width: 20vw;
    height: 20vh;
    background-color: black;
    margin: 4% auto;
}

.sBtn{
    float: left;
    position: fixed;
    right: 8%;
    margin: 3.5% 5%;
    top: 27.5%;
    width: 2.5%;
    height: 5%;
}

.eBtn{
    position: absolute;
    float: left;
    position: fixed;
    right: 4%;
    margin: 3.5% 5%;
    top: 27.5%;
    width: 2.5%;
    height: 5%;
}

.joystickBox{
    position: fixed;
    right: 10%;
    bottom: 15%;
}